{% extends 'base.html' %}
<!-- Copied this to base.html and injected it with Flask/JINJA-->
<!--<!DOCTYPE html> 
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="{{url_for ('static', filename='chatbot.css') }}">
    <link rel="stylesheet" href="{{url_for ('static', filename='w3.css') }}">
  <style>
     h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        h2 {text-align: center;}

        body, html {
      height: 100%;
      font-family: "Inconsolata", sans-serif;
    }
  </style>
</head>

<body>

  <div class="sidenav">
    <a href="/">HOME</a>
    <a href="/">ABOUT</a>
    <a href="/projects">CHATBOT</a>
    <a href="/languagedetector">LANGUAGE DETECTOR</a>
    <a href="/summary">SUMMARY</a>
  </div>

  <div class="main">
    <h2><strong>Page Contains our Chatbot</strong></h2>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

  </div>

  <div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">ML Chatbot</h4>
                    <p class="chatbox__description--header">Hello, my name is LangBot</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><script src="https://cdn.lordicon.com/lusqsztk.js"></script>
              <lord-icon
                  src="https://cdn.lordicon.com/dklbhvrt.json"
                  trigger="loop"
                  delay="800"
                  style="width:30px;height:30px">
              </lord-icon></button>
        </div>
    </div>
</div>

    <script src="../static/app.js"></script>
   
</body>
</html>--> 
{% block content %}
<div class="main">
  <h2><strong>WIP: Project Chatbot</strong></h2>
  <p>The chatbot was trained using an artificial neural network from Facebook’s open source PyTorch machine learning library. 
    The model uses a JSON file of sentences that a user could say to the chatbot along with responses to those sentences and the tags. 
    The neural network trains on these responses and creates neurons that predicts what the user is saying to it. The model was trained by first tokenizing 
    and steming all the words that the model is being trained on. The  model puts these words in a “bag of words” that make an array of 1 if the word in the 
    sentence is a frequent word or in another term a word that is unique enough to train on and a 0 if it is not. The model ignores context by discarding the 
    meaning of the words and focusing on the frequency of occurrence. By doing this the model can learn the words and in a sense read however the meaning of the 
    words means nothing to the model only the frequency of the words matter. This also makes is so the model can predict reponses to inputs that it has not seen before
     and make an accurate response.
  </p>
  <p>The bot operated with no issues on our local machines, but not on Beanstalk. The source code for our bot is located on the project's GitHub.</p>
  <p>To use the bot, click the bubble in the bottom right corner of the website! The chat menu will pop up on your screen!
    Some commands to use with the bot are greetings, asking for the date and time, and having it tell a joke.
  </p>
  <h1><strong>Neural Network</strong></h1>
  <p>Creating the neural network and adding the layers</p>
  <img src="{{ url_for('static', filename='images/nn.png') }}" width="60%" height="60%"/>
  <h1><strong>Neural Network Training</strong></h1>
  <p>Training the neural network with the JSON file that we have to create the neurons of the network with the tags</p>
  <img src="{{ url_for('static', filename='images/nn_train.png') }}" width="60%" height="60%"/>
  <h1><strong>Running the chatbot model</strong></h1>
  <p>This is where the chatbot runs, the bot tokenizes the words the user gave and adds those words to the bag of words and then the model uses that bag of word data to pick a 
    tag that best matches the predicted tag by a confidence of 75% and then the function returns a random response</p>
  <img src="{{ url_for('static', filename='images/chat.png') }}" width="60%" height="60%"/>

</div>
{% endblock %}


